/.scrutinizer.yml     export-ignore
/.travis.php.ini      export-ignore
/.travis.yml          export-ignore
/build-pre-commit.xml export-ignore
/build.xml            export-ignore
/docs                 export-ignore
/LICENSE              export-ignore
/Makefile             export-ignore
/phpcs.xml            export-ignore
/phpmd-pre-commit.xml export-ignore
/phpmd.xml            export-ignore
/phpunit.xml          export-ignore
/phpunit.xml.dist     export-ignore
/qa-tools.json        export-ignore
/README.md            export-ignore
/runTests.sh          export-ignore
/src/ReservedNamesBundle/Resources/doc/         export-ignore
/src/ReservedNamesBundle/Resources/public       export-ignore
/src/ReservedNamesBundle/Resources/translations export-ignore
/src/ReservedNamesBundle/Resources/views        export-ignore
/tests/               export-ignore
